<ng-container *ngIf="hero; else notFound">
    <h2>{{ hero.name }}</h2>
    <p>ID: {{ hero.id }}</p>
    <p>Poder: {{ hero.power }}</p>
</ng-container>
<ng-template #notFound>
    <p>Héroe no encontrado.</p>
</ng-template>

<button (click)="showAddHero = true">Editar Heroe</button>

  <div class="modal-backdrop" *ngIf="showAddHero">
    <div class="modal">
      <h3>Editar Héroe</h3>
      <form>
        <label>Nombre:
          <input name="newName" [(ngModel)]="newName" required />
        </label>
        <label>Poder:
          <input name="newPower" [(ngModel)]="newPower" required />
        </label>
        <div class="modal-actions">
          <button type="submit" [disabled]="!newName || !newPower" (click)="editHeroe()">Guardar</button>
          <button type="button" (click)="closeAddHero()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>